* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

header nav {
    width: 960px;
}

header nav ul {
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 30px;
    cursor: pointer;
    font-size: 20px;
}

nav ul li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: rgb(255, 230, 0);
    color: white;
    margin-right: auto;
    font-size: 25px;
    font-weight:800;
    border-radius: 10px;
    
}

a:hover {
    color: lightslategray;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.top-img {
    width: 100%;
    height: 600px;
    background-image: url('img/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-img::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    opacity: 0.5;
}

h1 {
    font-size: 80px;
    padding-bottom: 120px;
    color: white;
    font-family: 'comic sans ms';
    z-index: 1;
}

.wrap {
    width: 960px;
    height: 350px;
    margin: 80px auto;
    position: relative;
    background-color: rgb(245, 245, 245);
}

h2 {
    padding: 50px 50px 30px 50px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}

.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-wrap {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.photo-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-content ul li {
    text-align: center;
    padding: 30px auto;
}

.photo-content img {
    width: 300px;
    height: 300px;
    margin: 30px 20px;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* モバイル */
@media (max-width: 768px) {
    main {
        width: 820px;
        height: 1710px;
    }

    .border {
        text-align: center;
    }

    footer {
        width: 820px;
    }

    
}
  

@media screen and (max-width: 960px) {
    header {
        width: 100%;
    }

    .top-img {
        width: 100%;
    }

    .wrap {
        width: 100%;
    }

    .photo-wrap {
        width: 100%;
        height: 550px;
    }

    .photo-content img {
        width: 200px;
        height: 200px;
    }
    
    footer {
        height: 100px;
    }
}

/*520px以下で文字色青色になる*/
@media screen and (max-width: 520px) {
    header {
        width: 100%;
    }

    .top-img {
        width: 100%;
    }

    .wrap {
        width: 100%;
    }

    .photo-wrap {
        width: 100%;
        height: 550px;
    }

    .photo-content img {
        width: 200px;
        height: 200px;
    }
    
    footer {
        width: 100%;
    }
}
/* add comment */